.box{
    background-color: lightblue;
    border: 1px solid blue;
    font-size: 12;
    padding: 2%;
}

#Female{
    background-color: lightpink;
    border: 1px solid darkviolet;
}

body {
    background-image: url(images/paws.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
