body {
    background-image: url(images/Blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.cover {
    min-height: 85vh;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.7s;
}
