@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:wght@400;500&family=Raleway:ital,wght@1,700&display=swap');
body {
    background-image: url(images/Blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Bungee Spice', sans-serif; */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
}

#text-one {
    color: #FFD700;
}

#text-two {
    color: #FF6F61;
}

#text-three {
    color: #3CB371;
}

.card {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn {
    color: #fff;
}

.box{
    background-color: lightblue;
    /* border: 1px solid blue; */
    font-size: 12;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.cover {
    min-height: 85vh;
}


.card:hover {
    transform: translateY(-10px);
    transition: 0.7s;
}

.male-border {
    border: 4px solid rgb(104, 104, 221);
}

.female-border {
    border: 4px solid rgb(205, 98, 155);
}

.signorina-border {
    border-color: #FF69B4;
}

.male-background {
    background-color: #b8dde9;
}

.signorita-background {
    background-color: #e2bacf;
}

.femaleButton {
    background-color: #e689b9;
}

a.btn-info:hover {
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background-color: #ffffff;
    transition: 0.7s;
}

a.button-signorita {
    background-color: #be75a1;
}

a.button-signorita:hover {
    border: 1px solid palevioletred;
    color:#114c4c;
    background-color: #e5c4d8;
    transition: 0.7s;
}

.bg-signorita {
    background-color: #e689b9;
}


