.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

body {
    background-image: url(images/Greenery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.7s;
}